* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  border: 1px solid red;
  max-width: 1200px;
  margin: 1rem auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
